<a href="https://colab.research.google.com/github/TinyHero13/climaNovaIguacu/blob/main/ClimaNovaIguacu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import re
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from google.colab import files

In [ ]:
r = requests.get('https://www.tempo.com/nova-iguacu.htm')
soup = BeautifulSoup(r.content, 'html.parser')

container = soup.find('span', class_='datos-dos-semanas')

day = [d.get_text() for d in container.find_all('span', class_='cuando')]
max = [ma.get_text(strip=True) for ma in container.find_all('span', class_='maxima')]
min = [mi.get_text() for mi in container.find_all('span', class_='minima')]

maxNum = [re.sub(r'[°]','',i) for i in max]
minNum = [re.sub(r'[°]','',i) for i in min]

maxInt = map(int,maxNum)
minInt = map(int,minNum)

In [ ]:
weather = pd.DataFrame(
    {
        'Dia': day,
        'Maxima': maxInt,
        'Minima': minInt
    }
)

weather

              Dia  Maxima  Minima
0     Hoje10 Jun.      29      19
1   Amanhã11 Jun.      21      18
2  Domingo12 Jun.      21      17
3  Segunda13 Jun.      22      13
4    Terça14 Jun.      22      15
5   Quarta15 Jun.      22      13
6   Quinta16 Jun.      23      12

# Respondendo algumas perguntas:

In [ ]:
# Qual a média de temperatura máxima durante a semana?
round(weather["Maxima"].mean(), 2)

22.86

In [ ]:
# Qual a média de temperatura mínima durante a semana?
round(weather["Minima"].mean(), 2)

15.29

In [ ]:
# Qual a maior temperatura?
weather['Maxima'].max()

29

In [ ]:
# Qual a menor temperatura?
weather['Minima'].min()

12

In [ ]:
# Transformar o DataFrame em csv e fazer o download do mesmo.
from google.colab import files
weather.to_csv('weatherNovaIguacu.csv', encoding='utf-8-sig')
files.download('weatherweatherNovaIguacu.csv')