<a href="https://colab.research.google.com/github/TinyHero13/climaNovaIguacu/blob/main/ClimaNovaIguacu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup
from google.colab import files

In [3]:
r = requests.get('https://www.tempo.com/nova-iguacu.htm')
soup = BeautifulSoup(r.content, 'html.parser')

container = soup.find('span', class_='datos-dos-semanas')

day = [d.get_text() for d in container.find_all('span', class_='cuando')]
max = [ma.get_text(strip=True) for ma in container.find_all('span', class_='maxima')]
min = [mi.get_text() for mi in container.find_all('span', class_='minima')]

maxNum = [re.sub(r'[°]','',i) for i in max]
minNum = [re.sub(r'[°]','',i) for i in min]

maxInt = map(int,maxNum)
minInt = map(int,minNum)

In [4]:
weather = pd.DataFrame(
    {
        'Dia': day,
        'Maxima': maxInt,
        'Minima': minInt
    }
)

weather

              Dia  Maxima  Minima
0     Hoje14 Jun.      20      14
1   Amanhã15 Jun.      23      13
2   Quinta16 Jun.      25      12
3    Sexta17 Jun.      29      13
4   Sábado18 Jun.      26      15
5  Domingo19 Jun.      20      17
6  Segunda20 Jun.      23      16

# Respondendo algumas perguntas:

In [ ]:
# Qual a média de temperatura máxima durante a semana?
round(weather["Maxima"].mean(), 2)

22.86

In [ ]:
# Qual a média de temperatura mínima durante a semana?
round(weather["Minima"].mean(), 2)

15.29

In [14]:
# Quais são as maiores temperaturas?
weather[['Maxima', 'Minima']].max()

Maxima    29
Minima    17
dtype: int64

In [16]:
# Quais foram as menores temperaturas?
weather[['Maxima','Minima']].min()

Maxima    20
Minima    12
dtype: int64

In [ ]:
# Transformar o DataFrame em csv e fazer o download do mesmo.
from google.colab import files
weather.to_csv('weatherNovaIguacu.csv', encoding='utf-8-sig')
files.download('weatherweatherNovaIguacu.csv')